make-elmo.out
mj-models
EVALB/evalb
data/elmo_2x4096_512_2048cnn_2xhighway_options.json
data/elmo_2x4096_512_2048cnn_2xhighway_weights.hdf5
dc_parser/__pycache__
*.o
*.c
build/lib.macosx-11.1-arm64-cpython-310/dc_parser/__init__.py
build/lib.macosx-11.1-arm64-cpython-310/dc_parser/chart_helper.cpython-310-darwin.so
build/lib.macosx-11.1-arm64-cpython-310/dc_parser/chart_helper.pyx
build/lib.macosx-11.1-arm64-cpython-310/dc_parser/nkutil.py
build/lib.macosx-11.1-arm64-cpython-310/dc_parser/parse.py
build/lib.macosx-11.1-arm64-cpython-310/dc_parser/parse_nk.py
build/lib.macosx-11.1-arm64-cpython-310/dc_parser/trees.py
build/lib.macosx-11.1-arm64-cpython-310/dc_parser/utils.py
build/lib.macosx-11.1-arm64-cpython-310/dc_parser/vocabulary.py
dc_parser.egg-info/dependency_links.txt
dc_parser.egg-info/PKG-INFO
dc_parser.egg-info/requires.txt
dc_parser.egg-info/SOURCES.txt
dc_parser.egg-info/top_level.txt
